body {
  margin: 0;
  font-family: Arial;
  text-align: center;
}

/* LOADING */
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(orange, white);
  z-index: 9999;
}

#loading img {
  width: 200px;
  margin-top: 50px;
}

#loading button {
  padding: 12px 20px;
  margin-top: 20px;
  background: #ff6600;
  color: white;
  border: none;
  border-radius: 12px;
}

/* BACKGROUND GARIS LURUS */
.container {
  min-height: 100vh;
  padding: 20px;
  background: repeating-linear-gradient(
    90deg,
    orange,
    orange 25px,
    white 25px,
    white 50px
  );
}

/* GAMBAR BESAR */
.nailong {
  width: 260px;
}

#matcha {
  width: 180px;
  transition: 0.2s;
}

/* PROGRESS BAR */
#bar {
  width: 80%;
  height: 20px;
  background: white;
  border: 2px solid orange;
  margin: auto;
  border-radius: 10px;
}

#fill {
  height: 100%;
  width: 0%;
  background: orange;
  transition: 0.2s;
}

/* BUTTON */
button {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  background: #ff6600;
  color: white;
  border-radius: 12px;
}

button:hover {
  transform: scale(1.1);
}

/* HATI */
#hearts span {
  position: fixed;
  top: -10px;
  font-size: 20px;
  animation: fall 5s linear infinite;
}

@keyframes fall {
  to { transform: translateY(100vh); }
}
